.Button {
    display: inline-block;
    padding: 0.5rem 1.3rem;
    height: 2.6rem;
    box-sizing: border-box;
    background-color: transparent;
    color: currentColor;
    border: 1px solid currentColor;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;

    transition: background-color 0.1s ease-out;

    &:hover {
        background-color: #ffffff0d;
    }

    &.active {
        border-color: white;
        color: white;
        background-color: #002a7933;
        font-weight: bold;
    }

    &.primary {
        color: #eb5626;
        background-color: #ffdd55;
        border: 1px solid #ffdd55;

        &:hover {
            background-color: #ffe57b;
        }
    }
}