.ColorSwatch {
    display: inline-block;
    background: #fff;
    border: 1px solid white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    cursor: pointer;

    &__inner {
        width: 1rem;
        height: 1rem;
    }
}