.InputField {
    display: inline-block;
    margin: 0;
    padding: 0.6rem 0.5rem;
    height: 2.6rem;
    box-sizing: border-box;
    background-color: transparent;
    color: currentColor;
    border: 1px solid currentColor;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

    outline: none;
}