$border-color: rgba(255, 255, 255, 0.5);

.PanelBase {
    padding: 0 1rem 1rem 1rem;
    border: 1px solid $border-color;
    text-align: left;

    &__header {
        padding: 0.5rem 0;
        border-bottom: 1px solid $border-color;

        h1 {
            margin: 0;
            font-weight: normal;
            font-size: 1.2rem;
        }
    }
}