.UserDashboardPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    .UserDashboardPage__loginCard {
        margin: 0 auto;
        margin-top: 30vh;
        margin-bottom: 5rem;
    }
}