@import "../styles/partials/variables";

html {
    font-size: 16px;
}

@media (max-width: $breakpoint-sm) {
    html {
        font-size: 12px;
    }
}

.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    height: 100vh;
    color: white;
    
    text-align: center;
    background-color: #272727;
    
    font-family: 'Lato', sans-serif;
    * {
        font-family: 'Lato', sans-serif;
    }

    .App__content {
        flex: 1 1;

        display: flex;
        justify-content: space-between;
        align-items: stretch;

        & > * {
            flex: 1 1;
        }

        overflow: hidden;
    }

    .Loader {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}