.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    height: 100vh;
    color: white;

    text-align: center;
    background-color: #bbbbbb;

    .App_content {
        flex: 1 1;

        overflow-y: auto;
    }
}