.HeaderNavigation {
    button {
        background-color: transparent;
        padding: 0.8em 1.5em;
        border: none;
        color: #eb5626;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #ffdd55;
        border-bottom: 5px solid #eb5626;
    }
}