.Header {
    flex: 0 0 auto;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 10vw;
    background-color: #169cb4;
    color: #ffdd55;
    width: 100%;

    box-shadow: 0px -20px 6px 20px rgba(0, 0, 0, 0.25);

    h1 {
        margin: 0.4em 0.8em;
        font-size: 1em;
        text-align: left;
    }

    .Header_logo {
        margin: 0.3em 0.1em;
        height: 3em;
    }

    .Header_title {
        margin-left: 0.8em;
        height: 1.3em;
    }
}