.PackListEntry {
    display: block;
    width: 400px;
    height: 100px;
    padding: 10px;
    background-color: #4e4e4e;
    color: #cfcfcf;

    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.05);

    header {
        h1 {
            margin: 0 0 10px 0;
            font-size: 1.4em;
            text-align: left;
        }
    }

    p {
        text-align: left;
        margin: 0;
    }
}