.ColorProperty {
    &__colorPicker {
        z-index: 2;
        position: absolute;

        &__cover {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}